div {
  width: 100px;
  height: 100px;
  border: 10px solid blue;
  border-radius: 10px;
  background-image: url("squirtle.jpg");
  display: inline-block;
}

img {
  width: 200px;
  border: 30px groove green;
  border-radius: 100%;
  padding: 30px;
  margin: 20px;
}

.dog1 {
  border: 30px double green;
}

.dog2 {
  border: 30px dotted green;
}

.dog3 {
  border: 30px dashed green;
}
